.App {
  text-align: center;
  display: grid;
  grid-template-rows: 70px auto;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 180px auto;
}

.header-wrapper,
.nav-wrapper {
  background-color: #e6e6e6;
}

.nav-wrapper {
  text-align: left;
}

a {
  text-decoration: none !important;
}

.nav-wrapper li {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.main-container {
  display: grid;
  grid-template-rows: auto 50px;
  padding: 30px;
}

.count-counter {
  padding: 30px 0px;
  font-size: 50px;
  font-weight: bold;
}